spring:
  datasource:
    url: jdbc:mysql://localhost:3306/task_manager
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration